<ion-view title="Page" id="page1">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div style="text-align:center;">
            <img ng-src="{{image}}" width="100%" height="auto">
        </div>
        <div id="page-markdown1" style="color:#000000;">
            {{ image }}
        </div>
        <div class="button-bar">
            <button id="page-button1" ng-click="takePicture()"
                    class="button button-assertive  button-block icon-left ion-android-camera">
                SNAP!
            </button>
            <button id="page-button2"  ng-click="share()"
                    class="button button-balanced  button-block icon-left ion-android-share-alt">
                Share
            </button>
        </div>
    </ion-content>
</ion-view>